<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>健身堡壘驗證信</title>
  </head>
  <body>
    <div visiblity="visible">
      <div class="rps_3b62">
        <div>
          <p>
            <span style="font-size: medium">親愛的顧客您好</span
            ><br aria-hidden="true" /><br aria-hidden="true" /><span
              style="font-size: medium"
              >非常感謝您到健身堡壘網路商店進行選購，我們已收到您重設密碼的申請，以下為您的驗證碼：</span
            ><br aria-hidden="true" /><span style="font-size: medium"
              ><%= token %></span
            ><br aria-hidden="true" /><span style="font-size: medium"></span>
          </p>
          <p>
            <span style="font-size: medium">[注意事項]</span
            ><br aria-hidden="true" /><span style="font-size: medium"
              >此驗證碼有效期限為15分鐘，敬請於期限內使用。</span
            ><br aria-hidden="true" /><span style="font-size: medium"
              >如果有任何疑問，歡迎您向客服中心進行詢問。</span
            ><br aria-hidden="true" /><br aria-hidden="true" /><span
              style="font-size: medium"
            ></span>
          </p>
          <p>
            <span
              style="font-family: Arial, serif, EmojiFont; font-size: medium"
            ></span
            ><a
              href="<%= url %>"
              target="_blank"
              rel="noopener noreferrer"
              data-auth="NotApplicable"
              data-linkindex="0"
            ></a>
          </p>
          <p>
            <span
              style="
                font-size: medium;
                font-variant-numeric: normal;
                font-variant-east-asian: normal;
                vertical-align: baseline;
                white-space: pre-wrap;
              "
              >【請點以下連結開始購物，祝您購物愉快！】</span
            >
          </p>
          <p style="margin: 0in; font-size: 9pt">
            <span
              style="font-family: Arial, serif, EmojiFont; font-size: medium"
              >▼</span
            ><span
              style="font-family: Verdana, serif, EmojiFont; font-size: medium"
              >健身堡壘</span
            ><span
              style="
                font-family: 'Microsoft JhengHei', serif, EmojiFont;
                font-size: medium;
              "
              >網路商店首頁</span
            >
          </p>
          <p
            lang="zh-TW"
            style="margin: 0in; font-family: Calibri; font-size: 11pt"
          >
            <span style="font-size: medium"
              ><a
                href="<%= url %>"
                target="_blank"
                rel="noopener noreferrer"
                data-auth="NotApplicable"
                data-linkindex="1"
                ><%= url %></a
              ></span
            >
          </p>
          <p style="margin: 0in; font-size: 9pt">
            <span
              style="font-family: Arial, serif, EmojiFont; font-size: medium"
              >▼</span
            ><span
              style="
                font-family: 'Microsoft JhengHei', serif, EmojiFont;
                font-size: medium;
              "
              >限時優惠主賣場</span
            >
          </p>
          <p
            lang="zh-TW"
            style="margin: 0in; font-family: Calibri; font-size: 11pt"
          >
            <a
              href="<%= url %>"
              target="_blank"
              rel="noopener noreferrer"
              data-auth="NotApplicable"
              data-linkindex="2"
              ><span style="font-size: medium"><%= url %></span></a
            >
          </p>
          <p style="margin: 0in; font-size: 9pt">
            <span
              style="font-family: Arial, serif, EmojiFont; font-size: medium"
              >▼</span
            ><span
              style="
                font-family: 'Microsoft JhengHei', serif, EmojiFont;
                font-size: medium;
              "
              >每週新品專區</span
            >
          </p>
          <p
            lang="zh-TW"
            style="margin: 0in; font-family: Calibri; font-size: 11pt"
          >
            <span style="font-size: medium"
              ><a
                href="<%= url %>"
                target="_blank"
                rel="noopener noreferrer"
                data-auth="NotApplicable"
                data-linkindex="3"
                ><%= url %></a
              ></span
            >
          </p>
          <p style="margin: 0in; font-size: 9pt">
            <span style="font-size: medium">▼</span
            ><span style="font-size: medium">超優惠專區</span>
          </p>
          <p
            lang="zh-TW"
            style="margin: 0in; font-family: Calibri; font-size: 11pt"
          >
            <span style="font-size: medium"
              ><a
                href="<%= url %>"
                target="_blank"
                rel="noopener noreferrer"
                data-auth="NotApplicable"
                data-linkindex="4"
                ><%= url %></a
              ></span
            >
          </p>
          <p style="margin: 0in; font-size: 9pt">
            <span style="font-size: medium">【</span
            ><span style="font-size: medium">健身堡壘</span
            ><span style="font-size: medium">】享受更多購物的樂趣</span>
          </p>
          <p style="margin: 0in; font-size: 9pt">
            <span style="font-size: medium">立即下載</span
            ><span style="font-size: medium">▶</span>&nbsp;<a
              href="<%= url %>"
              target="_blank"
              rel="noopener noreferrer"
              data-auth="NotApplicable"
              data-linkindex="5"
              ><%= url %></a
            >
          </p>
          <p
            lang="zh-TW"
            style="margin: 0in; font-family: Calibri; font-size: 11pt"
          >
            <span style="font-size: medium">&nbsp;</span>
          </p>
          <p style="margin: 0in; font-family: Calibri; font-size: 11pt">
            <span
              style="
                font-size: medium;
                white-space: pre-wrap;
                font-family: Verdana, Geneva, sans-serif, serif, EmojiFont;
              "
              >【與我們連繫】</span
            >
          </p>
          <span id="x_docs-internal-guid-3568a24b-7fff-60af-fc1e-456661789fca"
            ><p
              dir="ltr"
              style="margin-top: 0pt; margin-bottom: 9pt; line-height: 1.38"
            >
              <a
                href="<%= url %>"
                target="_blank"
                rel="noopener noreferrer"
                data-auth="NotApplicable"
                style="text-decoration-line: none"
                data-linkindex="6"
                ><span
                  style="
                    font-size: medium;
                    font-variant-numeric: normal;
                    font-variant-east-asian: normal;
                    text-decoration-line: underline;
                    vertical-align: baseline;
                    white-space: pre-wrap;
                  "
                  ><%= url %></span
                ></a
              >
            </p></span
          >
          <p>
            <span
              style="color: #000000; white-space: pre-wrap; font-size: medium"
              >&nbsp;</span
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
